* {
    // 透明默认蓝色选中框
    -webkit-tap-highlight-color: transparent;
}

:root {
    // 状态栏高度
    --const-top-inset: var(--window-inset-top, 0px);
    // 手势栏高度
    --const-bottom-inset: var(--window-inset-bottom, 0px);
    // 子页面个数
    --const-page-count: var(--var-page-count, 4);
    // 主题色             Communication Blue & Outlook
    --var-theme-color: #0078D4;
    // 边界线
    --var-border-color: #E0E0E0;
    // 背景色
    --var-background-color: white;
    // 底栏导航按钮默认色
    --var-nav-button-color : #6E6E6E;
}

html, body {
    // 对齐视口高度
    height: 100%;
}

body {
    background: var(--var-background-color);
    // 禁用文字选中
    user-select: none;
    // 清除默认边距
    margin: 0;
    // 启用弹性布局支持
    display: flex;
    // 纵向排列子元素
    flex-direction: column;

    // 视口高度锁定裁剪容器
    > main {
        // 占满全部高度
        flex: 1;
        // 裁剪溢出高度
        overflow: hidden;

        // 横向滑轨容器
        > section {
            // 启用弹性布局支持
            display: flex;
            // 横向排列子元素
            flex-direction: row;
            // 容器总宽度
            width: calc(100% * var(--const-page-count));
            // 占满高度
            height: 100%;
            // 提示浏览器优化动画性能
            will-change: transform;
            // 本次水平位移量
            transform: translateX(var(--var-displacement, 0%));
            // 位移动画曲线
            transition: transform 0.35s cubic-bezier(0.2, 1, 0.2, 1);

            // 子页面
            > article {
                // 启用弹性布局支持
                display: flex;
                // 纵向排列子元素
                flex-direction: column;
                // 启用纵向滚动
                overflow-y: auto;
                // 子页面宽度
                width: calc(100% / var(--const-page-count));

                // 顶栏
                > header {
                    background: var(--var-background-color);
                    // 清除默认边距
                    margin: 0;
                    // 上边距         状态栏避让
                    padding-top: var(--const-top-inset);
                    // 底部边界线
                    border-bottom: 1px solid var(--var-border-color);
                    // 总高度
                    height: 65px;
                    // 启用弹性布局支持
                    display: flex;
                    // 横向排列子元素
                    flex-direction: row;
                    // 禁止收缩
                    flex-shrink: 0;
                    // 垂直居中
                    align-items: center;
                    // 吸顶
                    position: sticky;
                    // 吸顶上边距
                    top: 0;
                    // 置于顶层
                    z-index: 10;

                    // 大标题
                    > h1 {
                        // 左边距
                        padding-left: 16px;
                        // 字体尺寸
                        font-size: 22.5px;
                        // 字重
                        font-weight: 400;
                        // 行高
                        line-height: 28px;
                    }

                    // 深色模式
                    > fluent-switch {
                        // 推到最右
                        margin-left: auto;
                        // 右边距
                        margin-right: 16px;
                    }
                }
            }
        }
    }

    // 底栏
    > nav {
        background: var(--var-background-color);
        // 下边距            手势栏避让
        padding-bottom: var(--const-bottom-inset);
        // 顶部边界线
        border-top: 1px solid var(--var-border-color);
        // 总高度
        height: 80px;
        // 启用弹性布局支持
        display: flex;
        // 横向排列子元素
        flex-direction: row;

        // 导航按钮
        > button {
            // 清除背景
            background: none;
            // 清除边框
            border: none;
            // 上边距
            padding-top: 18px;
            // 占满全部宽度
            flex: 1;
            // 启用弹性布局支持
            display: flex;
            // 纵向排列子元素
            flex-direction: column;
            // 水平居中
            align-items: center;
            // 默认色
            color: var(--var-nav-button-color);

            // 图标
            > span > svg {
                // 覆盖色
                fill: currentColor;
            }

            // 字体
            > div {
                // 字体尺寸
                font-size: 9.5px;
                // 行高
                line-height: 1;
            }
        }
    }
}