* {
    // 透明默认蓝色选中框
    -webkit-tap-highlight-color: transparent;
    // 使外边界不受padding影响
    box-sizing: border-box;
}

html, body {
    // 对齐视口高度
    height: 100%;
}

html {
    // 状态栏高度
    --const-top-inset: var(--window-inset-top);
    // 手势栏高度
    --const-bottom-inset: var(--window-inset-bottom);
    // 子页面个数
    --const-page-count: var(--var-page-count, 4);
    // 边界线
    --var-border-color: #DDDDDD;
    // 顶栏大标题色
    --var-header-font-color: white;
    // 上层背景色
    --var-background-upper-color: #FFFFFF;
    // 控制卡下半部分
    --var-control-card-bottom: #FAFAFA;
    // 下层背景色
    --var-background-lower-color: #F2F2F2;
    // 未选中色
    --var-not-selected-color : #6E6E6E;
    // 主题色
    --var-theme-color: #0868C1;
}

body {
    background-color: var(--var-background-upper-color);
    // 禁用文字选中
    user-select: none;
    // 清除外边距
    margin: 0;
    // 启用弹性布局支持
    display: flex;
    // 纵向排列子元素
    flex-direction: column;

    // 视口高度锁定裁剪容器
    > main {
        // 占满全部高度
        flex: 1;
        // 裁剪溢出高度
        overflow: hidden;

        // 横向滑轨容器
        > * {
            // 启用弹性布局支持
            display: flex;
            // 横向排列子元素
            flex-direction: row;
            // 容器总宽度
            width: calc(100% * var(--const-page-count));
            // 占满高度
            height: 100%;
            // 提示浏览器优化动画性能
            will-change: transform;
            // 本次水平位移量
            transform: translateX(var(--var-displacement, 0%));
            // 位移动画曲线
            transition: transform 0.35s cubic-bezier(0.2, 1, 0.2, 1);

            // 子页面
            > * {
                background-color: var(--var-background-lower-color);
                // 启用弹性布局支持
                display: flex;
                // 纵向排列子元素
                flex-direction: column;
                // 启用纵向滚动
                overflow-y: auto;
                // 子页面宽度
                width: calc(100% / var(--const-page-count));

                // 顶栏
                > header {
                    // 顶栏总高度
                    $header-height: 65px;
                    // 总高度
                    height: $header-height;
                    // 兼容部分管理器
                    box-sizing: content-box;
                    // 启用弹性布局支持
                    display: flex;
                    // 横向排列子元素
                    flex-direction: row;
                    // 背景色
                    background-color: var(--var-background-upper-color);
                    // 底部边界线
                    border-bottom: 1px solid var(--var-border-color);
                    // 上内边距       状态栏避让
                    padding-top: var(--const-top-inset);
                    // 禁止收缩
                    flex-shrink: 0;
                    // 垂直居中
                    align-items: center;
                    // 吸顶
                    position: sticky;
                    // 吸顶上边距
                    top: 0;
                    // 置于顶层
                    z-index: 10;

                    // 大标题
                    > h1 {
                        // 左外边距
                        margin-left: $header-height * 0.275;
                        // 字体尺寸
                        font-size: 22.5px;
                        // 字重
                        font-weight: 400;
                    }

                    // 搜索框
                    > fluent-text-input {
                        $margin-lr: 8.125px;
                        // 占满全部空间
                        flex: 1;
                        // 垂直居中
                        align-self: center;
                        // 左外边距
                        margin-left: $margin-lr;
                        // 右外边距
                        margin-right: $margin-lr;
                        // 内部输入框根容器高度
                        &::part(root) {
                            // 总高度
                            height: 48px;
                        }
                    }
                }

                @mixin edge-base {
                    // 背景色
                    background-color: var(--var-background-upper-color);
                    // 圆角
                    border-radius: 4px;
                    // 阴影
                    box-shadow: 0 1.5px 2.5px rgba(0, 0, 0, 15%);
                }

                &#home_page > main {
                    // 全部信息卡
                    > * {
                        // 启用弹性布局支持
                        display: flex;
                        // 全外边距
                        margin: 15.875px;
                        // 导入风格封装
                        @include edge-base;

                        > * {
                            > :nth-child(1) {
                                // 字体尺寸
                                font-size: 17.5px;
                            }
                            > :nth-child(2) {
                                // 字体尺寸
                                font-size: 15px;
                                // 字重
                                font-weight: 350;
                            }
                        }
                    }

                    // 状态信息卡总高度
                    $state-card-height: 90px;
                    // 状态信息卡图标左外边距
                    $state-card-icon-margin-left: $state-card-height * 0.275;

                    // 状态信息卡
                    > :nth-child(1) {
                        // 总高度
                        height: $state-card-height;
                        // 横向排列子元素
                        flex-direction: row;
                        // 垂直居中
                        align-items: center;

                        // 状态图标
                        > :nth-child(1) {
                            // 启用弹性布局支持
                            display: flex;
                            // 左外边距
                            margin-left: $state-card-icon-margin-left;
                            // 右外边距
                            margin-right: $state-card-height * 0.225;
                        }

                        // 状态信息
                        > :nth-child(2) {
                            // 纵向排列子元素
                            flex-direction: column;

                            // 信息
                            > :nth-child(1) {
                                // 下外边距
                                margin-bottom: 7.5px;
                            }
                        }
                    }

                    // 主信息卡
                    > :nth-child(2) {
                        // 总高度
                        height: 550px;
                        // 纵向排列子元素
                        flex-direction: column;
                        // 全内边距
                        padding: $state-card-icon-margin-left;
                        // 均匀分布
                        justify-content: space-between;

                        // 单元
                        > * {
                            // 标题
                            > :nth-child(1) {
                                // 下外边距
                                margin-bottom: 2.5px;
                            }

                            // 信息
                            > :nth-child(2) {
                                // 任意字符间换行
                                word-break: break-all;
                            }
                        }
                    }
                }

                &#scope_page > main > * {
                    // 启用弹性布局支持
                    display: flex;
                    // 横向排列子元素
                    flex-direction: row;
                    // 单行总高度
                    $short-line-height: 88px;
                    // 总高度
                    height: $short-line-height;
                    // 全外边距
                    margin: 8.125px;
                    // 垂直居中
                    align-items: center;
                    // 导入风格封装
                    @include edge-base;

                    // Option<img>
                    > img {
                        // 禁止收缩
                        flex-shrink: 0;
                        // 左外边距
                        margin-left: $short-line-height * 0.2;
                        // 高度
                        height: $short-line-height * 0.6;
                        // 宽度
                        width: $short-line-height * 0.6;
                    }

                    > div {
                        // 纵向排列子元素
                        flex-direction: column;
                        // 左外边距
                        margin-left: $short-line-height * 0.18;
                        // 推到最右
                        margin-right: auto;
                        // 裁剪溢出
                        overflow: hidden;

                        > *:not(fluent-badge) {
                            // 禁止换行
                            white-space: nowrap;
                            // 裁剪溢出
                            overflow: hidden;
                            // 显示省略号
                            text-overflow: ellipsis;
                        }

                        > :nth-child(1) {
                            // 字体尺寸
                            font-size: 16px;
                        }

                        > :nth-child(2) {
                            // 覆盖色
                            color: var(--var-not-selected-color);
                            // 字体尺寸
                            font-size: 14px;
                            // 字重
                            font-weight: 350;
                            // 左外边距
                            margin-left: 0.2px;
                            // 下外边距
                            margin-bottom: 4px;
                        }

                        > fluent-badge {
                            // 左外边距
                            margin-left: 0.55px;
                        }
                    }

                    // 开关
                    > fluent-switch {
                        // 禁止收缩
                        flex-shrink: 0;
                        // 左外边距
                        margin-left: $short-line-height * 0.35;
                        // 右外边距
                        margin-right: $short-line-height * 0.4;
                    }
                }

                &#console_page > main > * {
                    // 控制卡总高度
                    $control-card-height: 160px;
                    // 通用边距
                    $control-card-padding: $control-card-height * 0.085;
                    // 总高度
                    height: $control-card-height;
                    // 启用弹性布局支持
                    display: flex;
                    // 纵向排列子元素
                    flex-direction: column;
                    // 全外边距
                    margin: 15.875px;
                    // 导入风格封装
                    @include edge-base;
                    // 裁剪溢出
                    overflow: hidden;

                    // 名称
                    > :nth-child(1) {
                        // 字体尺寸
                        font-size: 17.5px;
                        // 上内边距
                        padding-top: $control-card-padding;
                        // 左内边距
                        padding-left: $control-card-padding;
                        // 右内边距
                        padding-right: $control-card-padding;
                        // 下外边距
                        margin-bottom: 10px;
                    }

                    // 描述
                    > :nth-child(2) {
                        // 左内边距
                        padding-left: $control-card-padding;
                        // 右内边距
                        padding-right: $control-card-padding;
                        // 任意字符间换行
                        word-break: break-all;
                        // 覆盖色
                        color: var(--var-not-selected-color);
                        // 字体尺寸
                        font-size: 15px;
                        // 字重
                        font-weight: 350;
                    }

                    // 下半部分
                    > :nth-child(3) {
                        // 启用弹性布局支持
                        display: flex;
                        // 背景色
                        background-color: var(--var-control-card-bottom);
                        // 总高度
                        height: $control-card-height * 0.375;
                        // 顶部分割线
                        border-top: 1px solid var(--var-border-color);
                        // 垂直居中
                        align-items: center;
                        // 推到底部
                        margin-top: auto;

                        // 操作按钮
                        > fluent-button {
                            // 左外边距
                            margin-left: $control-card-padding;
                        }
                    }
                }

                &#settings_page > main {
                    // 开始分割线
                    > fluent-divider:nth-child(1) {
                        // 上外边距
                        margin-top: 7.75px;
                    }

                    // 末尾分割线
                    > fluent-divider:last-child {
                        // 下外边距
                        margin-bottom: 7.75px;
                    }

                    // 设置条目
                    > *:not(fluent-divider) {
                        // 启用弹性布局支持
                        display: flex;
                        // 纵向排列子元素
                        flex-direction: row;
                        // 单行总高度
                        $short-line-height: 72.5px;
                        // 总高度
                        height: $short-line-height;
                        // 全外边距
                        margin: 8.125px;
                        // 垂直居中
                        align-items: center;
                        // 导入风格封装
                        @include edge-base;

                        // 图标
                        > :nth-child(1) {
                            // 禁止收缩
                            flex-shrink: 0;
                            // 左外边距
                            margin-left: $short-line-height * 0.25;
                            // 高度
                            height: 36px;
                            // 宽度
                            width: 36px;
                        }

                        // 单元
                        > :nth-child(2) {
                            // 左外边距
                            margin-left: $short-line-height * 0.2;
                            // 推到最右
                            margin-right: auto;

                            // 主
                            > :nth-child(1) {
                                // 字体尺寸
                                font-size: 16px;
                            }

                            // 副
                            > :nth-child(2) {
                                // 覆盖色
                                color: var(--var-not-selected-color);
                                // 字体尺寸
                                font-size: 13.5px;
                                // 字重
                                font-weight: 350;
                            }
                        }

                        // 开关
                        > fluent-switch {
                            // 禁止收缩
                            flex-shrink: 0;
                            // 左外边距
                            margin-left: $short-line-height * 0.35;
                            // 右外边距
                            margin-right: $short-line-height * 0.4;
                        }
                    }
                }
            }
        }
    }

    // 底栏
    > nav {
        // 底栏总高度
        $nav-height: 80px;
        // 总高度
        height: $nav-height;
        // 启用弹性布局支持
        display: flex;
        // 横向排列子元素
        flex-direction: row;
        // 背景色
        background-color: var(--var-background-upper-color);
        // 顶部边界线
        border-top: 1px solid var(--var-border-color);
        // 下内边距          手势栏避让
        padding-bottom: var(--const-bottom-inset);

        // 导航按钮
        > * {
            // 清除背景
            background: none;
            // 清除边框
            border: none;
            // 上内边距
            padding-top: $nav-height * 0.225;
            // 占满全部宽度
            flex: 1;
            // 启用弹性布局支持
            display: flex;
            // 纵向排列子元素
            flex-direction: column;
            // 水平居中
            align-items: center;
            // 默认色
            color: var(--var-not-selected-color);

            // 图标
            > :nth-child(1) {
                // 填充色
                fill: currentColor;
                // 下外边距
                margin-bottom: 4px;
            }

            // 字体
            > :nth-child(2) {
                // 字体尺寸
                font-size: 9.5px;
                // 行高
                line-height: 1;
            }
        }
    }
}